<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Tazmanian Devil - About</title>
</head>
<body>
    <section class="section"> 
        <h1>About Taz</h1>
        <div class="container">
            <img src="/img/taz_about.png" alt="Young Taz">
            <div class="text-container">
                <p>
                    A wild beast whose insatiable hunger 
                    for violence and destruction, combined 
                    with his sharp teeth and claws make him 
                    the perfect killing machine!
                </p>
                <a href="/home" class="button">Back to Home</a>
            </div>
        </div>
    </section>

</body>
</html>