<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/styles.css">
    <title>Tazmanian Devil</title>
</head>
<body>
    <section class="section"> 
        <h1>Welcome to the official Taz Website!</h1>
        <div class="container">
            <img src="/img/taz_home.png" alt="Taz">
            <div class="link-container">
                <a href="/about" class="button">About</a>
                <a href="/works" class="button">Works</a>
            </div>
        </div>
    </section>

</body>
</html>