body {
    background-color: wheat;
    height: 90vh;
    font-size: 30px;
}
h1{
    font-size: 3em;
}
img{
    width: 500px;
}

.section {
    height: inherit;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.container {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.link-container{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}

.text-container {
    width: 50vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    text-align: justify;
}

.button{
    margin: 30px;
    text-decoration: none;
    background-color: #EEEEEE;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}